body{
    background-color: rgb(245, 188, 82);
}
#loader1{
    height: 70px;
    width: 70px;
    background-color: rgb(245, 188, 82);
    border-radius:50% ;
    border: 2px solid rgb(248, 247, 247);
    border-top: 2px solid brown;
    display: inline-block;
    
    animation: loader 2s   infinite normal ;

}
@keyframes loader{
    from{transform:rotate(0deg) ;}
    to{transform:rotate(360deg) ;}
}
#loader2{
    height: 70px;
    width: 70px;
    background-color: rgb(245, 188, 82);
    border-radius:50% ;
    border: 2px solid rgb(245, 188, 82) ;
    border-top: 2px dashed brown;
    display: inline-block;
    animation: loader 2s   infinite normal ;

}
@keyframes loader{
    from{transform:rotate(0deg) ;}
    to{transform:rotate(360deg) ;}
}